@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebdcf5c0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63, 31, 92);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.473), rgba(0, 0, 0, 0.589)), url("../images/bg1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100%;
}